services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    environment:
      DOCUMENT_ROOT: /app/public
    command: ./dux worker:start
    tty: true
    stdin_open: true
